<br />
<div class="jumbotron">
    <h1>DDTrack WebServices</h1>
    <p class="lead">Internal API Web Service for DDTrack Plus</p>
</div>
<div class="row">
    <div class="col-md-offset-1">
    <p>
        <div class="content-wrapper">
            <h2>Introduction</h2>
    <p>
        Below are the services you can use to interact with the API.
        <ul id="apilinks">
            <li><a href="~/Help/#Login">Login</a></li>
            <li><a href="~/Help/#Account">Account</a></li>
            <li><a href="~/Help/#User">User</a></li>
            <li><a href="~/Help/#Supplier">Supplier</a></li>
            <li><a href="~/Help/#Test">Test</a></li>
            <li><a href="~/Help/#LoginSec">Login Security</a></li>
            <li><a href="~/Help/#Barcode">Hermes/Barcode</a></li>
        </ul>
    </p>
    </p>
    </div>
    </div>

</div>
